/**/
.cart-area {
    padding: 50px 0px;
}
table.shopping-cart-table {
    th {
        padding: 10px;
        vertical-align: middle !important;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        font-weight: 500;
        font-size: 18px;
    }
    td {
        border-bottom: 1px solid #e5e5e5;
    }
    td.product-thumbnail {
        min-width: 150px;
        a {
            img {
                max-width: 100px;
            }
        }
    }

    td.product-name {
        min-width: 180px;
        a {
            font-weight: 500;
            text-decoration: none;
        }
    }
    td.product-quantity {
        input[type="number"] {
            max-width: 60px;
            text-align: center;
            height: 40px;
            border-radius: 0;
            border: 1px solid #000;
        }
    }
    td.product-discount {
        input[type="text"] {
            max-width: 90px;
            text-align: center;
            height: 40px;
            border-radius: 0;
            padding: 0px 10px;
            border: 1px solid #000;
        }
    }
    td.product-price {
        span {
            font-weight: 600;
            color: #535353;
        }
    }
    td.product-subtotal {
        span {
            font-weight: 600;
            color: #535353;
        }
    }
    td.product-remove {
        button {
            color: #d71111;
        }

        button:hover {
            color: #992e2e;
        }

        button.disabled {
            color: #992e2e;
        }
    }
}
.shopping-cart-table {
    td {
        padding: 10px;
        vertical-align: middle !important;
    }
}
.banner-pay {
    width: 100%;
    padding: 20px;
    img {
        width: 85%;
    }
}