.single-product-wrapper {
    text-align: center;
    margin-bottom: 30px;

    &:hover {
        .quick-view {
            top: 0;
            transition: all 0.8s ease 0s;
            opacity: 1;
        }

        .product-action {
            top: 0;
            transition: all 0.5s ease 0s;
            opacity: 1;
        }
    }
}

.product-info {
    background-color: #eef1fa;
    padding: 20px 20px 18px;

    h4 {
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        a {
            text-decoration: none;
        }
    }
}

.product-rattings {
    span {
        margin: 0 -2px;
        font-size: 15px;
    }

    .fa-star {
        color: #e9b528;
    }

    .fa-star-half-o {
        color: #e9b528;
    }

    .fa-star-o {
        color: #d3ced2;
    }

    margin: 0 0 8px;
    line-height: 1;
}

.product-price {
    font-size: 16px;

    span {
        color: #f82e56;
        font-weight: 600;
    }

    del {
        color: #999;
        font-weight: 400;
        margin-left: 3px;
    }
}

.product-img {
    position: relative;

    a {
        display: block;

        img {
            width: 100%;
        }
    }
}

.product-hover {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    white-space: nowrap;

    .quick-view {
        margin-bottom: 8px;
        position: relative;
        top: -45px;
        transition: all 0.5s ease 0s;
        opacity: 0;
    }

    .product-action {
        position: relative;
        top: -45px;
        transition: all 0.8s ease 0s;
        opacity: 0;
    }
}

.quick-view {
    a {
        font-size: 16px;
        display: inline-block;
        background-color: #292560;
        color: #fff;
        line-height: 50px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 14px;
        text-decoration: none;

        &:hover {
            background-color: #00adef;
        }

        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}

.product-action {
    a {
        background-color: #292560;
        width: 31%;
        height: 50px;
        display: inline-block;
        line-height: 52px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        float: left;
        text-decoration: none;

        i {
            font-size: 24px;
        }

        + {
            a {
                margin-left: 5px;
            }
        }

        &:hover {
            background-color: #00adef;
        }
    }
}

.product-tab-menu {
    border-bottom: 2px solid #00adef;
    margin-bottom: 25px;

    .nav {
        a {
            display: inline-block;
            line-height: 51px;
            background-color: transparent;
            padding: 0 35px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.3s ease 0s;

            &:hover {
                background-color: #00ADED;
                color: #fff;
            }
        }

        a.active {
            background-color: #00ADED;
            color: #fff;
        }
    }
}

.arrow-style-1 {
    .owl-nav {
        right: 15px;
    }
}

.deal-carousel-active.arrow-style-1 {
    .owl-nav {
        right: 0;
    }
}

.brand-carousel-active.arrow-style-1 {
    .owl-nav {
        right: 0;
    }
}

/*sidebar-product-carousel-widget*/
/*product-desctiption-review*/
.product-details-info {
    padding: 30px;

    h4 {
        font-size: 24px;
        letter-spacing: 0;
        text-transform: capitalize;
        margin: 0 0 10px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .product-price {
        margin-bottom: 15px;
    }

    .in-stock {
        i {
            color: #77a464;
        }
    }

    .product-action {
        a {
            width: inherit;
            padding: 0 20px;
            font-size: 14px;
            font-weight: 700;
        }
    }

    [data-original-title="Add to cart "] {
        background-color: #00adef;

        i {
            margin-right: 10px;
        }
    }
}


.product-meta {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
}

.meta-item {
    ul {
        margin-bottom: 10px;

        li {
            display: inline-block;
            margin-right: 5px;
            font-weight: 700;
            text-transform: capitalize;

            a {
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}

.product-details-tab-1 {
    .nav {
        a {
            margin-bottom: 10px;
            padding: 10px 10px;
            display: block;
            background-color: #f82e56;
        }
    }
}

.product-tab-menu {
    .nav {
        a {
            display: inline-block;
            line-height: 51px;
            background-color: transparent;
            padding: 0 20px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.3s ease 0s;
        }
    }
}

.easyzoom {
    width: 100%;
    display: block;

    a {
        width: 100%;
        display: block;

        img {
            width: 100%;
        }
    }

    .easyzoom-flyout {
        img {
            max-width: none;
        }
    }
}

.sidebar-product-carousel-widget {
    .product-tab-menu {
        .nav {
            a {
                padding: 0 20px;
            }
        }
    }

    .product-style-2 {
        .product-img {
            float: left;
        }
    }
}

.product-desctiption-review {
    .nav {
        a {
            padding: 10px 0;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            position: relative;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            position: relative;

            + {
                a {
                    margin-left: 30px;
                }
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                border-bottom: 2px solid #f82e56;
                -webkit-transition: all .4s ease-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                }

                color: inherit;
            }
        }

        a.active {
            &:after {
                width: 100%;
            }

            color: inherit;
        }

        margin-bottom: 30px;
    }

    .tab-pane {
        border-bottom: 1px solid #e5e5e5;
        color: #999;
    }
}

.shop_attributes {
    tr {
        td {
            border: 1px solid #e5e5e5;
            padding: 8px;

            p {
                margin-bottom: 0;
                color: #999;
            }
        }

        th {
            border: 1px solid #e5e5e5;
            padding: 8px;

            p {
                margin-bottom: 0;
                color: #999;
            }
        }
    }
}

.media-info {
    border: 1px solid #e5e5e5;
    padding: 1em 1em 0;
    position: relative;

    &:before {
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        content: '';
        display: block;
        height: 10px;
        left: -6px;
        position: absolute;
        top: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 10px;
    }
}

.media {
    h5 {
        color: #777;
        font-size: 16px;

        span {
            color: #777;
            font-weight: 400;
        }
    }
}

.media-body {
    p {
        color: #999;
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}

.media-review {
    max-width: 650px;
    margin: 0 auto;
}

.ProductDetail {
    a {
        text-decoration: none;
    }

    .rowtop {
        padding: 5px 5px;
    }

    h1, .h1 {
        font-size: 2rem;
    }

    .rowdetail {
        border-top: 1px solid #e5e5e5;
        padding: 15px 0;
        margin-top: 5px;
        clear: both;

        .LeftSide.picture {
            float: left;
            overflow: hidden;
            position: relative;

            img {
                display: block;
                height: auto;
                margin: auto;
                cursor: pointer;
                max-width: 100%;
            }

            .text-viewimage {
                color: #666;
                font-size: 14px;
                display: block;
                width: 60%;
                text-align: center;
                margin: 0 auto;
                margin-top: 15px;
            }
        }

        .Center.price_sale {
            float: left;
            position: relative;

            .area_price {
                display: block;
                overflow: hidden;
                line-height: 20px;
                padding: 0 10px 10px;

                strong {
                    display: inline-block;
                    overflow: hidden;
                    font-size: 24px;
                    color: #e10c00;
                    vertical-align: middle;
                    margin-right: 10px;
                }

                label.installment {
                    background: #f28902;
                    margin: 0 0 0 5px;
                }

                label {
                    display: inline-block;
                    position: relative;
                    font-size: 11px;
                    color: #fff;
                    font-weight: 600;
                    background: #fff;
                    border-radius: 3px;
                    padding: 0 5px 0 8px;
                    margin: 0 0 5px 5px;
                    height: 18px;
                }

                span {
                    display: inline-block;
                    font-size: 14px;
                    color: #c1000c;
                }

                span.hisprice {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    color: #999;
                    text-decoration: line-through;
                    margin-right: 10px;
                }
            }

            .memory {
                padding: 0 10px;
                float: left;
                width: 100%;

                .m_default {
                    margin-bottom: 15px;

                    b {
                        font-weight: bold;
                    }

                    .installment {
                        display: none;
                    }

                    label.installment {
                        background: #d0021b;
                        position: relative;
                        display: inline-block;
                        font-size: 11px;
                        color: #fff;
                        font-weight: 600;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        border-radius: 3px;
                        padding: 0 5px 0 8px;
                        margin: 0 0 5px 5px;
                        height: 18px;
                    }
                }

                .item {
                    position: relative;
                    background: #fff;
                    border: 1px solid #ddd;
                    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
                    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    float: left;
                    text-align: center;
                    padding: 10px 10px 10px 10px;
                    margin-right: 10px;
                    margin-bottom: 15px;
                    cursor: pointer;

                    span {
                        color: #333;
                    }
                }

                .item.active {
                    border: 1px solid #f89008;

                    span {
                        font-weight: bold;
                    }

                    i.iconmobile-opt {
                        background: url("https://www.thegioididong.com/Content/desktop/images/V4/game/check.png");
                        width: 14px;
                        height: 14px;
                    }
                }

                strong {
                    font-size: 16px;
                    display: block;
                    color: #e10c00;
                }

                i.iconmobile-opt {
                    background-position: -380px -30px;
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    vertical-align: sub;
                    margin-right: 5px;
                }

            }

            .area_promotion {
                display: block;
                overflow: hidden;
                border: 1px solid #ddd;
                border-radius: 4px;
                position: relative;
                margin: 5px 10px 12px;
                background: #fff;
                padding-bottom: 10px;

                strong {
                    font-weight: bold;
                    display: block;
                    overflow: hidden;
                    font-size: 15px;
                    color: #333;
                    padding: 15px 15px 10px 15px;
                    text-transform: uppercase;
                }

                .infopr span {
                    display: block;
                    overflow: hidden;
                    font-size: 14px;
                    color: #333;
                    padding: 0 15px 5px 40px;
                }

                .vipservice {
                    margin-bottom: 0 !important;
                    border: none;
                    margin: 10px 12px 0 12px;
                    border-top: 1px solid #ccc;
                    padding: 12px 0 0 0;
                    border-radius: 0;

                    input {
                        font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
                        color: #333;
                        outline: none;
                        zoom: 1;
                    }

                    .select-warranty {
                        border: 1px solid #ccc;
                    }
                }
            }

            .area_order {
                display: block;
                overflow: hidden;
                margin: 10px;

                .buy_now {
                    display: block;
                    overflow: hidden;
                    padding: 7px 0;
                    border-radius: 4px;
                    font-size: 16px;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                    background: #ff3838;
                }

                button.buy_now {
                    border: none;
                    width: 100%;
                }

                button.buy_now:hover {
                    background: #d75a5a;
                }

                button.buy_now.disabled {
                    background: #d75a5a;
                }

                button.buy_now:focus {
                    border: none;
                    outline: none;
                }

                span {
                    display: block;
                    font-size: 13px;
                    color: #fff;
                    text-transform: none;
                    padding-top: 3px;
                }

                .buy_repay {
                    border:none;
                    width: 48%;
                    line-height: normal;
                    display: block;
                    padding: 7px 10px;
                    text-align: center;
                    margin: 10px 0 0;
                    background: #288ad6;
                    color: #fff;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                    font-size: 15px;
                    text-transform: uppercase;
                    float: left;
                }

                .buy_repay:hover {
                    background: #508fc2;
                }

                .buy_repay.s {
                    float: right;
                }
            }

            .callorder {
                display: block;
                overflow: hidden;
                padding: 0 10px;
                font-size: 14px;
                color: #333;
                margin-top: -10px;

                .ct {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    margin-top: 8px;
                    text-align: center;
                }

                span {
                    display: inline-block;
                    padding: 5px 0 0;
                }

                a {
                    color: #288ad6;
                }
            }
        }

        .RightSide.accessories {
            overflow: hidden;

            h3 {
                display: block;
                overflow: hidden;
                font-size: 20px;
                color: #333;
                line-height: 1.3em;
            }

            ul, ol {
                list-style: none;
            }

            li {
                display: block;
                overflow: hidden;
                padding: 10px 0;

                img {
                    float: left;
                    width: 20%;
                    height: AUTO;
                    margin-right: 10px;
                }

                h3 {
                    display: block;
                    overflow: hidden;
                    color: #333;
                    line-height: 1.3em;
                    font-weight: bold;
                    font-size: 14px;
                }

                strong.gs {
                    float: left;
                    margin-right: 10px;
                }

                strong.gg {
                    color: #666;
                    text-decoration: line-through;
                    font-weight: normal;
                }

                label {
                    display: inline-block;
                    font-size: 11px;
                    color: #fff;
                    font-weight: 600;
                    background: #3fb846;
                    border-radius: 2px;
                    padding: 0 5px;
                    height: 18px;
                }

                label.per {
                    background: #ee170b;
                }
            }

            .viewall {
                padding: 8px 0 0 0;
                color: #288ad6;
                display: block;
            }
        }
    }
}