button,
input,
optgroup,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    height: 45px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
    padding-left: 3px 10px;
}

input[type="submit"],
input[type="search"] {
    font-size: 14px;
    border: none;
    border-radius: 25px;
    border-color: #ff3838;
    background-color: #ff3838;
    color: white;
    min-width: 90px;
    box-shadow: none;
}

textarea {
    resize: vertical;
}

option {
    padding: 3px 10px;
    font-size: 14px;
    /* font-weight: 300; */
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #555555;
}



select {
    border: 1px solid #ccc;
    padding-left: 10px;
    box-shadow: none;
    color: #555555;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    width: 100%;
    border: none;
    outline: none;
}


/**/
.tag-title span {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin: 0;
}

.tag-title h1 {
    border-bottom: 2px solid #1e272ee0;
}

.tag-title h1 span {
    padding: 0px 35px;
    font-size: 35px;
    font-weight: 600;
    background-color: #1e272ee0;
    line-height: 60px;
}

.tag-title h2 {
    border-bottom: 1px solid #00adef;
    margin-bottom: 20px;
}

.tag-title h2 span {
    padding: 0px 20px;
    font-size: 20px;
    background-color: #00adef;
    line-height: 51px;

}


/**/
.cart {
    border: 1px solid #00adef;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.cart img {
    min-height: 250px;
    width: 100%;
}

.cart .cart-body {
    padding: 15px 15px;
}

.cart .cart-body .cart-title {}

.cart .cart-body .cart-text {}

.cart .cart-footer {
    padding: 0px 25px 15px 15px;
}

.btn-cart {
    height: 35px;
    border-radius: 2px !important;
    font-size: 15px;
    padding: 0px 10px;
    margin-left: 15px;
}

.cart-footer a {
    padding: 15px;
    float: right;
}

/**/

.cart-sale {
    display: inline-block;
    min-height: 275px;
    width: 275px;
    border: none;
    border-left: 1px solid gray;
    border-radius: 0px;
    margin: 0px;
}

.cart-sale img {
    height: 250px;
    /* width: 265px; */
}

.cart-sale {}

.cart-sale .cart-body {
    padding: 0px 15px;
}

.cart-sale .cart-body .cart-title {
    padding: 0px 0px;
}

.cart-sale .cart-body .cart-title>a {
    padding: 0px;
    font-weight: normal;
}

.cart-sale .cart-body h5 {
    color: #c7a8a8;
    text-decoration: line-through;
}

.cart-sale .cart-body .cart-text {}


.cart-sale .info-sale {
    display: inline-block;
    background-color: #ff3838 !important;
    color: #fff;
}

.cart-sale .btn-cart {}

.cart-sale .cart-footer {
    padding: 0px 0px 15px 0px;
}

.cart-sale .cart-footer a {}

.cart-sale .cart-footer h2 {
    color: #fff;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px 15px;
}

/**/


.cart-horizontal {
    border-radius: 0;
    border: none;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    background-color: #eef1fa;
}

.cart-horizontal a {}

.cart-horizontal a>img {
    /* width: 100%; */
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    border: 1px solid #8395a7;
}

.cart-horizontal .cart-body .cart-title {}


.cart-horizontal .cart-body .cart-text {
    min-height: 65px;
}

.cart-horizontal .cart-footer {
    padding: 0px 35px 0px 0px;
}

.cart-horizontal .cart-footer input {
    margin: 0px;
}

.cart-horizontal .cart-body {
    padding: 15px 0px 0px 0px;
}

.cart-horizontal .cart-footer h1 {}

.cart-horizontal .cart-footer h5 {}

.cart-horizontal .info-sale h2 {
    font-size: 25px;
    font-weight: 600;
}

.cart-horizontal .info-sale h3 {
    display: inline-block;
    background-color: #ff3838;
    padding: 10px 15px;
    color: white;
}

.cart-horizontal .info-sale {
    padding: 0px 15px;
}

.cart-horizontal .info-sale h5 {
    text-decoration: line-through;
    color: #4b4b4bd6;
}

/**/
#modal-info-cart .modal-dialog {
    width: 80%;
}

.modal-dialog .cart-img-info {
    padding: 15px;
}

.modal-dialog .cart-img-info img {
    width: 100%;
    margin-bottom: 10px;
}

/**/
.pagination-pr {
    display: block !important;
    padding: 0px 50px 0px 30px;
    margin-top: 35px;
}

.pagination-pr ul {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #dee2e6;
    /* display: inline-block; */
}

.pagination-pr ul>li {
    display: inline-block;
    margin: 0px;
}

.pagination-pr ul>li>a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    min-width: 35px;
    padding: 7px 13px;
}

.pagination-pr ul>li:hover a,
.pagination-pr ul>li:active a {
    background-color: #f5f6fa;
}


/**/

.scrollmenu {
    opacity: 0.8;
    background-color: #130f40;
    overflow: auto;
    white-space: nowrap;
    margin-top: 35px;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    /* background-color: #777; */
}

.scrollmenu::-webkit-scrollbar {
    height: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1e272e;
    border-radius: 10px;
}

.scrollmenu::-webkit-scrollbar-thumb {
    background: #2f3640;
    border-radius: 10px;
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
    background: #808e9b;
}

.scrollmenu::-webkit-resizer {
    width: 10px;
    height: 10px;
}

/**/
.form-info {
    /* border: 1px solid #555; */
    min-height: 580px;
    padding-left: 35px;
}

.form-info .title-form {
    padding: 20px 0px;
}

.form-info h1.title-form span {
    padding: 8px 25px;
    font-size: 30px;
    font-weight: 400;
}

.form-info label {
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
}

.form-info form {}

.form-info form input {
    width: 500px;
    min-width: 500px;
}

.form-info form input.btn-sub {
    width: 100px;
    min-width: 100px;
    border-radius: 2px;
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 16px;
}