.shop-area {
    padding: 65px 0px 0px 0px;
}


.shop-area {
    padding-left: 15px;
}

.shop-area .categories {
    margin-bottom: 45px;
}

.shop-area .categories h2 {}

.shop-area .categories h2 span {}

.shop-area .categories list-group {}

.shop-area .categories list-group li {}

.categories a.list-group-item:focus,
.categories a.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #0fbcf9;
}

.shop-area .filter-product {}

.shop-area .filter-product .filter-product-sex {}

.shop-area .filter-product .filter-product-price {}

.shop-area .filter-product .filter-product-price label {
    padding: 0px;
    line-height: 1.8;
}

.shop-area .banner {
    padding: 0px 10px;
}

.shop-area .banner img {
    width: 100%;
    max-height: 650px;
    /*height: 650px;*/
}

.shop-area .banner img {
    width: 100%;
    max-height: 650px;
    /*height: 650px;*/
}

.product-area .middle-product {
    padding: 10px 0px 30px 0px;
}

.product-area {
    padding: 25px 0px 10px 0px;
}

.product-area .banner {}

.product-area .banner img {
    max-height: 550px;
    width: 100%;
}