

.slider-area #carousel-slider {

    margin: 0px auto;
}

.slider-area #carousel-slider .carousel-inner {}

.slider-area #carousel-slider .carousel-inner .item.slide-banner {

    max-height: 650px;

    height: 500px;
}

.slider-area #carousel-slider .carousel-inner .item.slide-banner img {
    /* background-size: contain; */
}

.slider-area #carousel-slider .carousel-inner .item.slide-banner h1 {
    color: #00fff0db;
    background-color: #00000070;
    text-align: center;
}



/**/

.event-area {
    padding: 100px 0px;
    background-color: #f5f6fa;
}

.event-area .header-event {
    
}

.event-area .header-event h1 {
    
}


.event-area .middle-event {
    padding: 15px 0px;
}

.middle-event .content-event {
    position: relative;
    /*background-color: url(../images/banner/event3.jpg);*/
    max-height: 600px;
    height: 600px;
    margin: 65px 0px;
}

.middle-event .content-event img {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 600px;
    margin: 0px auto;
}

.middle-event .content-event .info {
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 100%;
    left: 0px;
    top: 0px;
    transition: 1.2s ease;
    overflow: hidden;
    background-color: #747d8cb5;

}

.middle-event .content-event:hover .info {
    bottom: 0;
    height: 100%;
}

.middle-event .content-event .info .text {
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-event .content-event .info h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 10px 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.middle-event .content-event .info p {
    font-size: 20px;
}

.middle-event .content-event .info p>a {
    color: green;
}

